.modal {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
    opacity: 0.8;
	color: black;
	padding: 40px 50px;
	text-align: center;
	font-family: fantasy;
}
.h1 {
	font-size: 40px;
	letter-spacing: 0.8;
	color: green;
	font-family: fantasy;
}
.content {
	font-size: 20px;
	font-family: fantasy;
	padding-top: 20px;
	padding-bottom: 10px;	
}