.lines {
    padding: 0px 100px;
    width: 100%;
    background: black;
    opacity: 0.7;
    font-family: fantasy;
    position: relative;
}
.finishedLine {
    transform: rotate(90deg);
    width: 430px;
    height: 70px;
    position: relative;
    top: 282px;
    left: 890px;
    opacity: 0.4;
}
.startLine {
    transform: rotate(90deg);
    width: 430px;
    height: 70px;
    position: relative;
    top: 212px;
    right: 190px;
    opacity: 0.4;
}
.start {
    font-size: 20px;
    color: white;
    position: relative;
    right: 565px;
    transform: rotate(-90deg);
    bottom: 154px;
    color: gold;
    opacity: 0.4;
}
.finish {
    font-size: 20px;
    color: white;
    position: relative;
    left: 560px;
    bottom: 183px;
    transform: rotate(-90deg);
    color: gold;
    z-index: 1;
    opacity: 0.4;
}